@font-face {
	font-family: 'Sukhumvit';
    src: url('sukhumvitset-light-webfont.woff2') format('woff2'),
         url('sukhumvitset-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* d5d7d6 */
body{
   font-family: 'Sukhumvit', Merriweather,'Helvetica Neue',Arial,sans-serif;
overflow-x: hidden;
margin:0 0 0 0;
background:url(pic/main_bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a{
	text-decoration:none;
	outline: 0;
}

.page {
  float: left;
  width: 100%;
  /*height: 100vh;*/
  
}
.docScroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index:999;
  bottom: 40px;
  right: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(250, 163, 39, 0.8) url(image/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 1%;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 1%;
    bottom: 30px;
  }
}

.mainpage{
position:absolute; 
width: 90%; 
margin: 0 0 0 5%;

}
.text_heder{
font-size:2.25vh;
letter-spacing:2px;
line-height:3vh;
color:#969698;
font-weight:lighter;

}


.one {
 background:url(pic/background_head.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	height:100vh;

}
.two {
	background-image:url(pic/main_bg.png);
	height:120%;
	z-index:-4;
	position:relative;
}
.line_main{
	position:absolute; 
	z-index:2;
	width:50vw;
	top:-10vh; 
	right:-6%;
}

button {
 font-family: 'Sukhumvit', Merriweather,'Helvetica Neue',Arial,sans-serif;
 letter-spacing:1.5px;
 font-size:24px;
  border: none;
  background: #000000;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  
}
button:hover {

}

.boxshadow{
	-webkit-box-shadow: 2px 9px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 9px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 9px 40px 0px rgba(0,0,0,0.75);
}
.gallery_intro{
	position:relative;
	background-color: rgba(39, 41, 43, 0.9); 

}
	.shadoweds {
		-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
		margin:0 0 0 0;
		padding:0 0 0 0;
		/*filter: url(#drop-shadow);
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
	}
	.shadowed {
		-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
		width:60%;
			margin-top:5vh;
		/*filter: url(#drop-shadow);
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
	}
.my-gallery {
  width: 100%;
  float: center;
}
.my-gallery figure {
margin: 0 0px 0px 0;

}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}
.icon_menu{

	margin-top:5vh;
	margin-bottom:5vh;
	background-color: rgba(39, 41, 43, 0.9); 
}
.about_row1_col1{
	width:100%;
height:80vh;
		vertical-align:bottom;
	background:url(image/2.jpg);
	 background-size: cover;
	 background-position: right top;
	background-repeat: no-repeat;
	text-align:right;
}
.divTable{
	display: table;
	width: 100%;

	padding-bottom:5vh;

}
.t769 {
	display:inherit;
}
.t768 {
	display:none;
}
@media only screen and (max-width: 768px) {
	.t768 {
		display:inherit;
	}
	.t768 img {
		width:40%;
	}
	.t769 {
		display:none
	}
}

article {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 450px;
     -moz-column-width: 450px;
          column-width: 450px;

  padding-top:10vh;
}
p{
break-inside: avoid-column;
}
.article1 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
		  margin-top:10vh;

}
		form {
width:70%;

}
form h1 {
  box-sizing: border-box;
  padding: 20px;
}

input {
 font-family: 'Sukhumvit', Merriweather,'Helvetica Neue',Arial,sans-serif;
 font-size:16px;
 letter-spacing:1px;
  margin: 40px 0px;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ed4c15;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #ed4c15 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ed4c15 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color:#333333;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #ed4c15;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

button {
 font-family: 'Sukhumvit', Merriweather,'Helvetica Neue',Arial,sans-serif;
 letter-spacing:1.5px;
 font-size:24px;
  border: none;
  background: #ed4c15;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  color: white;
  margin-left: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  
}
.footer_row2_col1{
	width:100%;
	background:url(pic/background-menu.png);
	background-size: cover;
	background-repeat: no-repeat;
}